@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/
body {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-image: url(../img/body-backgroud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.container {
  max-width: 1342px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1354px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@-webkit-keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.messanger {
  max-width: 1100px;
  margin: 100px auto;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  z-index: 10;
}
.messanger__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  position: relative;
}
.messanger__header::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: line 1s linear forwards;
          animation: line 1s linear forwards;
}
.messanger__title {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.messanger__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.messanger__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 320px;
  position: relative;
}
.messanger__favorites-btn {
  background-image: url(../img/icons/favorite.svg);
}
.messanger__chat {
  height: 500px;
  margin-top: 40px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.3);
}
.messanger__chat::-webkit-scrollbar {
  width: 7px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
}
.messanger__chat::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
}
.messanger__message {
  max-width: 60%;
}
.messanger__message:not(:last-child) {
  margin-bottom: 20px;
}
.messanger__message.user-message {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.messanger__message.user-message .message-messanger__info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.messanger__message.user-message .message-messanger__content {
  background-color: rgba(255, 184, 78, 0.4);
  border-radius: 15px 0 15px 15px;
}
.messanger__message.bot-message {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.messanger__message.bot-message .message-messanger__info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.messanger__message.bot-message .message-messanger__content {
  background-color: rgba(184, 247, 255, 0.4);
  border-radius: 0 15px 15px;
}
.messanger__composer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 10px;
}
.messanger__add-file {
  width: 50px;
  background-image: url(../img/icons/add_file.svg);
}
.messanger__message-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.messanger__composer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  width: 165px;
}
.messanger__send-geo {
  background-image: url(../img/icons/location.svg);
}
.messanger__rec-audio {
  background-image: url(../img/icons/mic.svg);
}
.messanger__rec-video {
  background-image: url(../img/icons/videocam.svg);
}

@-webkit-keyframes openSearch {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes openSearch {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.search-messanger__input {
  width: 0;
  opacity: 0;
  height: 50px;
  padding: 15px;
  border-radius: 15px;
  font-size: 16px;
  -webkit-animation: openSearch 0.5s linear 2s forwards;
          animation: openSearch 0.5s linear 2s forwards;
}
.search-messanger__input::-webkit-input-placeholder {
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.search-messanger__input::-moz-placeholder {
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.search-messanger__input:-ms-input-placeholder {
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.search-messanger__input::-ms-input-placeholder {
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.search-messanger__input::placeholder {
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.search-messanger__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/icons/search.svg);
}

.messanger-btn {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.messanger-btn:hover {
  background-color: rgb(184, 247, 255);
}

.message-messanger__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.message-messanger__content {
  margin-top: 5px;
  padding: 15px;
  line-height: 1.1em;
}

.message-form__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 50px 15px 15px;
  border-radius: 15px;
  resize: none;
  overflow: hidden;
  font-size: inherit;
}
.message-form__btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-image: url(../img/icons/send.svg);
  background-size: 25px;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}