@import "fonts";

$fontFamily: "Raleway", sans-serif;

//colors

$placeholderColor: rgb(100, 100, 100);
$userMesColor: rgba(255, 184, 78, 0.4);
$resMesColor: rgba(184, 247, 255, 0.4);

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1342;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@import "null";

body {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-image: url(../img/body-backgroud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.75);
  z-index: 1;
}

.container {
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: #{$md1+px}) {
    max-width: 970px;
  }
  @media (max-width: #{$md2+px}) {
    max-width: 750px;
  }
  @media (max-width: #{$md3+px}) {
    max-width: none;
    padding: 0 10px;
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.droparea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 125;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 28px;
  line-height: 1.2em;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}
svg path,
svg rect {
  fill: #ff6700;
}

@keyframes showControllers {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 50px;
  }
}

.messanger {
  width: 100%;
  margin: 100px auto;
  padding: 25px;
  background-color: rgb(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  z-index: 10;

  &__header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #fff;
      border-radius: 15px;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      animation: line 1s linear forwards;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__nav {
    display: flex;
    justify-content: end;
    column-gap: 20px;
  }

  &__search {
    display: flex;
    justify-content: end;
    width: 320px;
    position: relative;
  }

  &__favorites-btn {
    background-image: url(../img/icons/favorite_border.svg);

    &.showed {
      background-image: url(../img/icons/favorite.svg);
    }
  }

  &__chat-container {
    position: relative;
    width: 100%;
    margin-top: 40px;
  }

  &__chat {
    width: 100%;
    height: 500px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255, 0.2) rgb(0, 0, 0, 0.3);

    &::-webkit-scrollbar {
      width: 7px;
      border-radius: 3px;
      background-color: rgb(255, 255, 255, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      width: 7px;
      border-radius: 3px;
      background-color: rgb(255, 255, 255, 0.1);
    }
  }

  &__no-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

    img {
      width: 300px;
    }

    span {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__message {
    max-width: 60%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.user-message {
      align-self: flex-end;

      .message-messanger__info {
        justify-content: end;
      }

      .message-messanger__content {
        background-color: rgba(255, 184, 78, 0.4);
        border-radius: 15px 0 15px 15px;
      }
    }

    &.bot-message {
      align-self: flex-start;

      .message-messanger__info {
        justify-content: start;
      }

      .message-messanger__content {
        background-color: rgb(184, 247, 255, 0.4);
        border-radius: 0 15px 15px;
      }

      .message-messanger__controllers {
        left: auto;
        right: -40px;
        transform: translateX(-15px);
      }
    }

    &:hover {
      .message-messanger__controllers {
        display: flex;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__composer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
  }

  &__add-file {
    width: 50px;
    background-image: url(../img/icons/add_file.svg);
  }

  &__message-form {
    flex: 1;
    position: relative;
  }

  &__composer-btns {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 165px;

    &.show {
      animation: showControllers 0.75s ease forwards;
    }
  }

  &__send-geo {
    background-image: url(../img/icons/location.svg);
  }

  &__rec-audio {
    background-image: url(../img/icons/mic.svg);
  }

  &__rec-video {
    background-image: url(../img/icons/videocam.svg);
  }

  &__record-media {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  &__pinned {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 50px;
    margin-bottom: 10px;
    position: sticky;
    top: -20px;
    left: 0;
    z-index: 15;
    background-color: #fff;
    border-radius: 15px;

    &:before {
      content: "";
      height: 60px;
      width: 5px;
      background-color: rgb(184, 247, 255);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 25px;
    }
  }
}

// pinned message

.pinned-message {
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    color: #000;
  }

  &__title {
    color: rgb(0, 225, 255);
    font-weight: 700;
    font-size: 18px;
  }

  &__close {
    background-image: url(../img/icons/clear.svg);
  }
}

// btn

.messanger-btn {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
  transition: all 0.5s ease;

  &:hover {
    background-color: rgb(184, 247, 255);
  }
}

// message content

.content {
  &__text {
    a {
      color: #67bbff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__media {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__images {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    border-radius: 15px;
  }

  &__image {
    width: 50%;
    padding: 2px;
    position: relative;

    &:nth-child(3n + 1) {
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
      background-color: rgb(255, 255, 255, 0.5);
    }

    &:hover {
      .content__download-btn {
        opacity: 1;
      }
    }
  }

  &__video {
    width: 100%;
    position: relative;
    video {
      border-radius: 15px;
      width: 100%;
    }
    .content__download-btn {
      top: 5px;
    }
    &:hover {
      .content__download-btn {
        opacity: 1;
      }
    }
  }

  &__audio {
    width: 100%;
    position: relative;
    padding-right: 55px;
    audio {
      width: 100%;
      border-radius: 15px;
      margin-top: 5px;
    }

    .content__download-btn {
      bottom: 0;
      right: 0;
    }

    &:hover {
      .content__download-btn {
        opacity: 1;
      }
    }
  }

  &__audio-name {
    font-size: 15px;
    font-weight: 700;
  }

  &__download-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url(../img/icons/download.svg);

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  &__location {
    a {
      font-family: "Rubik", sans-serif;
      color: #67bbff;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__file {
    display: flex;
    column-gap: 5px;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    .content__download-btn {
      position: static;
    }

    &:hover {
      .content__download-btn {
        opacity: 1;
      }
    }
  }
}

@keyframes openSearch {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

// search

.search-messanger {
  &__input {
    width: 0;
    opacity: 0;
    height: 50px;
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
    animation: openSearch 0.5s linear 2s forwards;

    &::placeholder {
      font-size: 14px;
      color: $placeholderColor;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/icons/search.svg);
  }
}

// message

.message-messanger {
  position: relative;
  &__info {
    display: flex;
    column-gap: 5px;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: $placeholderColor;
  }

  &__date {
  }

  &__content {
    margin-top: 5px;
    padding: 15px;
    line-height: 1.1em;
  }

  &__controllers {
    display: none;
    opacity: 0;
    transform: translateX(15px);
    position: absolute;
    left: -40px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.1s;
  }
}

.message-controllers {
  &__favorite {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(../img/icons/favorite_border.svg);
    transition: background-image 0.4s ease;
    background-size: 20px 20px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.added {
      background-image: url(../img/icons/favorite.svg);
    }
  }
  &__pin {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(../img/icons/pin.svg);
    background-size: 20px 20px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

// message form

.message-form {
  &__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px 50px 15px 15px;
    border-radius: 15px;
    resize: none;
    overflow: hidden;
    font-size: inherit;
  }

  &__btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    bottom: 5px;

    background-image: url(../img/icons/send.svg);
    background-size: 25px;
  }
}

// media record controllers

.record-media {
  &__clear {
    background-image: url("../img/icons/clear.svg");
    width: 40px;
    height: 40px;
    background-size: 25px;
  }
  &__send {
    background-image: url("../img/icons/send.svg");
    width: 40px;
    height: 40px;
    background-size: 25px;
  }
  &__timer {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
  }

  &.show {
    animation: showControllers 0.75s ease forwards;
  }
}

.video-preview {
  position: absolute;
  z-index: 500;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 640px;
  height: 480px;
  border-radius: 15px;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.75);
}

// add file popup

@keyframes showing {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.add-file-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  animation: showing 0.3s linear;

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__body {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
  }

  &__files {
    margin-bottom: 20px;
  }

  &__file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__controllers {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
  }

  &.removing {
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.2s ease;
  }

  &__droparea {
    background-color: rgba(255, 255, 255, 0.75);
    color: #000;
    font-size: 24px;
  }
}

.file {
  &__left {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    object-fit: contain;
    background-image: "../img/icons/file.svg";
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__title {
    font-size: 16px;
    color: #000;
  }

  &__size {
    font-size: 14px;
    color: #888;
  }

  &__delete-btn {
    background-image: url("../img/icons/delete.svg");
  }
}

.controllers {
  &__right {
    display: flex;
    column-gap: 10px;
  }
}

.popup-btn {
  width: 100px;
  height: 40px;
  background-color: #000;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #000;
    border: solid 1px #000;
  }
}

.removing {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.null {
  display: none;
  opacity: 0;
  visibility: hidden;
}
